.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.image-box {
  width: 20%;
  height: 200px;
}

.profile-description {
  width: 80%;
  text-align: justify;
  margin-left: 0;
  padding-left: 0;
}

.main-div {
  display: flex;
  flex-direction: column;
}

.profile-headers {
  padding-left: 20px;
}

.profile-headers h5 {
  font-size: 2.5rem;
  font-weight: bold;
  color: oklch(0.141 0.005 285.823);
}

.profile-headers h6 {
  font-size: 2rem;
  font-weight: bold;

  color: oklch(0.552 0.016 285.938);
}

@media only screen and (max-width: 1108px) {
  .image-box {
    display: none;
  }
}
