.projects {
  display: flex;
  flex-direction: column;
}

.projects > h5 {
  font-size: 2.5rem;
  font-weight: bold;
  color: oklch(0.141 0.005 285.823);
}

.projects > h6 {
  font-size: 2rem;
  font-weight: bold;

  color: oklch(0.552 0.016 285.938);
}

.project-details {
  transition:
    transform 0.25s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-details:hover {
  transform: translateY(-5px) scale(1.05); /* pop out and move up */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2); /* stronger shadow */
  z-index: 2;
}

.card-link-text {
  text-decoration: none;
  color: oklch(0.606 0.25 292.717);
  font-size: 0.9rem;
}
